body, window, html {
  padding: none;
  margin: none;
}

.table {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  z-index: 1;
}

.scoreBoard {
  width: 30%;
  background-color: tomato;
  height: 100%;
  border: dotted gold 10px;
}

.scoreBoardTitle {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}

.tries, .matches {
  display: flex;
  justify-content: center;
}

.tryCount, .matchCount, h4 {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 200px;
  background-color: darkseagreen;
  border: 2px solid crimson;
  background-position: center;
  background-size: cover;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 2;
  padding: none;
  margin: none;
  display: none;
  transition: all 250ms ease-in-out;
}

.winPage {
  display: block;
}

#winMsg {
  font-size: 90px;
  display: none;
  color: #43e86f;
  text-transform: uppercase;
  padding: none;
  margin: none;
  transform: scale(0);
  z-index: 3;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: all 500ms ease-in-out;
}

#winParrot {
  position: absolute;
  transform: translateX(-110%);
  transition: all 2000ms ease-in-out;
  margin-top: 20%;
  z-index: 3;
}

#win1 {
  display: block;
  margin: auto;
}

#win2 {
  display: none;
  margin: auto;
}

/*.card1, .card2, .card3, .card4, .card5, .card6 {background-image: none;}*/

.card1.open, .card1.matched {background-image: url('images/bird1.jpg');}
.card2.open, .card2.matched {background-image: url('images/bird2.jpg');}
.card3.open, .card3.matched {background-image: url('images/bird3.jpg');}
.card4.open, .card4.matched {background-image: url('images/bird4.jpg');}
.card5.open, .card5.matched {background-image: url('images/bird5.png');}
.card6.open, .card6.matched {background-image: url('images/bird6.jpg');}
