.table {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.scoreBoard {
  width: 30%;
  background-color: tomato;
  height: 100%;
  border: dotted gold 10px;
}

.scoreBoardTitle {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}

.tries, .matches {
  display: flex;
  justify-content: center;
}

.tryCount, .matchCount, h4 {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 200px;
  background-color: darkseagreen;
  border: 2px solid crimson;
  background-position: center;
  background-size: cover;
}

/*.card1, .card2, .card3, .card4, .card5, .card6 {background-image: none;}*/

.card1.open, .card1.matched {background-image: url('images/bird1.jpg');}
.card2.open, .card2.matched {background-image: url('images/bird2.jpg');}
.card3.open, .card3.matched {background-image: url('images/bird3.jpg');}
.card4.open, .card4.matched {background-image: url('images/bird4.jpg');}
.card5.open, .card5.matched {background-image: url('images/bird5.png');}
.card6.open, .card6.matched {background-image: url('images/bird6.jpg');}
